modules/kdpw-xml/src/main/resources/schema/trar.sts.003.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kdpw:xsd:trar.sts.003.02" targetNamespace="urn:kdpw:xsd:trar.sts.003.02" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation source="Name" xml:lang="EN">Report status message after substantive check</xs:documentation>
		<xs:documentation source="Definition" xml:lang="EN">Report status message after substantive check</xs:documentation>
	</xs:annotation>
	<xs:element name="KDPWDocument" type="KDPWDocument">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">KDPW_TR system message</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">KDPW_TR system message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="Code4Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Qualifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Qualifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Counterparty_TR">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CounterpartyTR</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to counterparty identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RptgCtrPtyId" type="LEIIdentifier">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique code identifying the reporting counterparty of the contract.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtySd" type="OptionParty1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CounterpartySide</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies whether the reporting counterparty is a buyer or a seller.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OthrCtrPty" type="CounterpartyOther_TR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OtherCounterparty</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Definition of the other counterparty in the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CounterpartyOther_TR">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Counterparty2__1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to counterparty identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="OrganisationIdentification3Choice__1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique code identifying the other counterparty of the contract. &#13;
&#13;
Usage:&#13;
This field shall be filled from the perspective of the reporting counterparty. In case of a private individual a client code shall be used in a consistent manner.&#13;
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date and time</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Date and time</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Dt" type="ISODate">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Date and time</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Date and time</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ESMAMax50AlphaNumeric">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ESMAMax50AlphaNumeric</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A string of up to 50 captial letters (A-Z) or numbers (0-9).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GeneralInformation">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">General information</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">General information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RptgNtty" type="LEIIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Report submitting entity ID</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Report submitting entity ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SndrMsgRef" type="Max16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Sender message reference</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Sender message reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActnTp" type="Max1Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ActionType</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Action type as defined by ESMA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lvl" type="Max1Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Level</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Level</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepTmStmp" type="ISODateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportingTimestamp</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reporting timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lnk" type="Linkages">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Linkages to related messages</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">an ISODateTime</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="KDPWDocument">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">KDPW_TR system message</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">KDPW_TR system message </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trar.sts.003.02" type="trar.sts.003.02" maxOccurs="10000">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Report status message after substantive check</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Report status message after substantive check</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Sndr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="EN">Senders KDPW institution code</xs:documentation>
				<xs:documentation source="Definition" xml:lang="EN">Senders KDPW institution code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Rcvr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="EN">Receivers KDPW institution code</xs:documentation>
				<xs:documentation source="Definition" xml:lang="EN">Receivers KDPW institution code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="KDPWMax52AlphaNumericAdditionalCharacters">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ESMAMax52AlphaNumericAdditionalCharacters</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A string of up to 52 captial letters (A-Z), numbers (0-9) or special characters ":", ".", "-", "_". Special characters not allowed at the beginning and at the end.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1}[A-Z0-9:\.\-_]{0,50}[A-Z0-9]{1}|[A-Z0-9]{1,52}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KDPWMemberIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">KDPW institution code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">KDPW institution code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LEIIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Linkages">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Linkages to related messages</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrvsSndrMsgRef" type="Max16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Previous message reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradRefId" type="TradeReference" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TradeReference</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Trade reference</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max1Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max1Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1 character.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max50Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max50Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 50 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max52Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max52Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 52 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="52"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification3Choice__1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification3Choice__1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Provides the identification of the organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="LEI" type="LEIIdentifier">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Identification is done through the use of legal entity identifier code. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ClntId" type="ESMAMax50AlphaNumeric">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">ClientIdentification</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous client identification of the organisation.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OptionParty1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OptionParty1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies if a trade party is a buyer or a seller.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Seller</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Seller in a trade.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Buyer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Buyer in a trade.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Reason">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Reason</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RsnCd" type="Code4Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReasonCode</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reason code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RsnTxt" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReasonText</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reason description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RegulationIndicator">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Regulation indicator</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Indicator of applicable regulation: EMIR, MIFIR or both</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">EMIR</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">EMIR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MIFIR</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">MIFIR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Both EMIR and MIFIR</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Both EMIR and MIFIR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReportDetails_1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ReportDetails</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Report details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EligDt" type="ISODate" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Eligible date</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Eligible date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RglntInd" type="RegulationIndicator">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Regulation indicator</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Regulation indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPty" type="Counterparty_TR" minOccurs="1" maxOccurs="2">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Counterparty</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Data specific to counterparties of the reported transaction/position.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxData" type="TradeTransaction11__3">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TransactionData</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Data related specifically to a trade transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Status</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StsCd" type="Code4Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">StatusCode</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Status code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rsn" type="Reason" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reason</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeReference">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">TradeReference</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Trade references</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UnqTradIdr" type="KDPWMax52AlphaNumericAdditionalCharacters">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">UniqueTradeIdentifier</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique Trade identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RptgCtrPtyId" type="LEIIdentifier">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CounterpartyIdentication</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Counterparty identication</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OthrCtrPtyId" type="ESMAMax50AlphaNumeric">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OtherCounterpartyIdentication</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Other counterparty identication</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeTransaction11__3">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">TradeTransaction11__3</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Provides details of trade transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UnqTradIdr" type="KDPWMax52AlphaNumericAdditionalCharacters">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">UniqueTradeIdentifier</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique trade Identifier (UTI) as agreed with the other counterparty.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trar.sts.003.02">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Report status message after substantive check</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Report status message after substantive check</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GnlInf" type="GeneralInformation">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">General information</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">General information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RptDtls" type="ReportDetails_1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportDetails</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Report details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sts" type="Status">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Status</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
