modules/kdpw-xml/src/main/resources/schema/trar.ntf.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kdpw:xsd:trar.ntf.001.01" targetNamespace="urn:kdpw:xsd:trar.ntf.001.01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Repozytorium transakcji - notyfikacja</xs:documentation>
		<xs:appinfo>
			<NmPL>Repozytorium transakcji - notyfikacja</NmPL>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="KDPWDocument" type="KDPWDocument">
		<xs:annotation>
			<xs:documentation>Komunikat systemu KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Komunikat systemu KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ClearingInformation">
		<xs:annotation>
			<xs:documentation>Rozliczanie</xs:documentation>
			<xs:appinfo>
				<NmPL>Rozliczanie</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClrOblgtn" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Obowiązek rozliczania </xs:documentation>
					<xs:appinfo>
						<NmPL>Obowiązek rozliczania </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Clrd" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rozliczono</xs:documentation>
					<xs:appinfo>
						<NmPL>Rozliczono</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrDtTm" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Znacznik czasu rozliczenia</xs:documentation>
					<xs:appinfo>
						<NmPL>Znacznik czasu rozliczenia</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CCP" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CCP</xs:documentation>
					<xs:appinfo>
						<NmPL>CCP</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Intrgrp" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transakcja wewnątrzgrupowa</xs:documentation>
					<xs:appinfo>
						<NmPL>Transakcja wewnątrzgrupowa</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Code4Text">
		<xs:annotation>
			<xs:documentation>Kwalifikator, kod</xs:documentation>
			<xs:appinfo>
				<NmPL>Kwalifikator</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CollateralInformation">
		<xs:annotation>
			<xs:documentation>Charakterystyka zabezpieczenia</xs:documentation>
			<xs:appinfo>
				<NmPL>Charakterystyka zabezpieczenia</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Colltn" type="Max2Text">
				<xs:annotation>
					<xs:documentation>Zabezpieczenie </xs:documentation>
					<xs:appinfo>
						<NmPL>Zabezpieczenie </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtfColl" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zabezpieczenie na poziomie portfela </xs:documentation>
					<xs:appinfo>
						<NmPL>Zabezpieczenie na poziomie portfela </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtfId" type="Max35Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod portfela</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod portfela</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollVal" type="Max20Dec5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wartość zabezpieczenia</xs:documentation>
					<xs:appinfo>
						<NmPL>Wartość zabezpieczenia</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollCcy" type="CurrencyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Waluta wartości zabezpieczenia </xs:documentation>
					<xs:appinfo>
						<NmPL>Waluta wartości zabezpieczenia </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommodityTrade">
		<xs:annotation>
			<xs:documentation>Transakcje towarowe .
				Sekcja wypełniania dla kontraktów towarowych;  jeśli UPI jest raportowane i zawiera wszystkie informacje wskazane poniżej, to ta sekcja nie jest wypełniania /raportowana.
			 </xs:documentation>
			<xs:appinfo>
				<NmPL>Transakcje towarowe</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CmmdtyBase" type="Max2Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Towarowy instrument bazowy</xs:documentation>
					<xs:appinfo>
						<NmPL>Towarowy instrument bazowy</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CmmdtyDtls" type="Max2Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegółowe informacje dotyczące towaru</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegółowe informacje dotyczące towaru</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DlvryPnt" type="Max16Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Miejsce lub strefa dostawy. Kod EIC.</xs:documentation>
					<xs:appinfo>
						<NmPL>Miejsce lub strefa dostawy </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntrcnnctnPnt" type="Max50Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Punkt połączenia międzysystemowego</xs:documentation>
					<xs:appinfo>
						<NmPL>Punkt połączenia międzysystemowego</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LdTp" type="Max2Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rodzaj obciążenia </xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj obciążenia </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DlvryStartDtTm" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data i godzina rozpoczęcia dostawy </xs:documentation>
					<xs:appinfo>
						<NmPL>Data i godzina rozpoczęcia dostawy </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DlvryEndDtTm" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data i godzina zakończenia dostawy</xs:documentation>
					<xs:appinfo>
						<NmPL>Data i godzina zakończenia dostawy</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CntrctCpcty" type="Max50Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zakontraktowana ilość</xs:documentation>
					<xs:appinfo>
						<NmPL>Zakontraktowana ilość</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Qty" type="Max10Dec2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ilość jednostek</xs:documentation>
					<xs:appinfo>
						<NmPL>Ilość jednostek</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pric" type="Max10Dec2Signed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cena za ilość w okresie dostawy </xs:documentation>
					<xs:appinfo>
						<NmPL>Cena za ilość w okresie dostawy </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractType">
		<xs:annotation>
			<xs:documentation>Typ kontraktu</xs:documentation>
			<xs:appinfo>
				<NmPL>Typ kontraktu</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Txnm" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Stosowana klasyfikacja </xs:documentation>
					<xs:appinfo>
						<NmPL>Stosowana klasyfikacja </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrdctId1" type="Max20Text">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny produktu nr 1</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny produktu nr 1</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrdctId2" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny produktu nr 2</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny produktu nr 2</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Undrlyg" type="UnderlyingDefinition" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Instrument bazowy</xs:documentation>
					<xs:appinfo>
						<NmPL>Instrument bazowy</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechUndrlyg" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Techniczny instrument bazowy</xs:documentation>
					<xs:appinfo>
						<NmPL>Techniczny instrument bazowy</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssrCtry" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod kraju emitenta instrumentu bazowego</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod kraju emitenta instrumentu bazowego</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NtnlCcy1" type="CurrencyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Waluta nominalna 1</xs:documentation>
					<xs:appinfo>
						<NmPL>Waluta nominalna 1</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NtnlCcy2" type="CurrencyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Waluta nominalna 2 </xs:documentation>
					<xs:appinfo>
						<NmPL>Waluta nominalna 2 </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DlvrblCcy" type="CurrencyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Waluta dostawy</xs:documentation>
					<xs:appinfo>
						<NmPL>Waluta dostawy</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:annotation>
			<xs:documentation>Kod kraju</xs:documentation>
			<xs:appinfo>
				<NmPL>Kod kraju</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount2">
		<xs:annotation>
			<xs:documentation>Wartość i kod waluty</xs:documentation>
			<xs:appinfo>
				<NmPL>Wartość i kod waluty</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Max20Dec5">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required">
					<xs:annotation>
						<xs:documentation>Kod waluty</xs:documentation>
						<xs:appinfo>
							<NmPL>Kod waluty</NmPL>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:annotation>
			<xs:documentation>Kod waluty</xs:documentation>
			<xs:appinfo>
				<NmPL>Kod waluty</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CounterpartyAddressAndSectorDetails">
		<xs:annotation>
			<xs:documentation>Szczegółowe informacje adresowo-branżowe o kontrahencie</xs:documentation>
			<xs:appinfo>
				<NmPL>Szczegółowe informacje adresowo-branżowe o kontrahencie</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nm" type="Max100Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nazwa kontrahenta</xs:documentation>
					<xs:appinfo>
						<NmPL>Nazwa kontrahenta</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dmcl" type="Domicile">
				<xs:annotation>
					<xs:documentation>Siedziba kontrahenta </xs:documentation>
					<xs:appinfo>
						<NmPL>Siedziba kontrahenta </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorpSctr" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Branża, do której należy kontrahent </xs:documentation>
					<xs:appinfo>
						<NmPL>Branża, do której należy kontrahent </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CounterpartyDetails">
		<xs:annotation>
			<xs:documentation>Szczegółowe informacje   kontrahenta</xs:documentation>
			<xs:appinfo>
				<NmPL>Szczegółowe informacje   kontrahenta</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BrkrId" type="InstitutionCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny maklera</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny maklera</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrMmbId" type="InstitutionCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny członka rozliczającego </xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny członka rozliczającego </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrAcct" type="Max35Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identyfikator konta rozliczeniowego</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator konta rozliczeniowego</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BnfcryId" type="InstitutionCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny beneficjenta </xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny beneficjenta </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrdgCpcty" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Charakter, w jakim zawarto transakcję </xs:documentation>
					<xs:appinfo>
						<NmPL>Charakter, w jakim zawarto transakcję </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinNonFinInd" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kontrahent finansowy / niefinansowy </xs:documentation>
					<xs:appinfo>
						<NmPL>Kontrahent finansowy / niefinansowy </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CmmrclActvty" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bezpośredni związek z działalnością gospodarczą lub działalnością w zakresie zarządzania aktywami i pasywami </xs:documentation>
					<xs:appinfo>
						<NmPL>Bezpośredni związek z działalnością gospodarczą lub działalnością w zakresie zarządzania aktywami i pasywami </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrTrshld" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Próg wiążący się z obowiązkiem rozliczania</xs:documentation>
					<xs:appinfo>
						<NmPL>Próg wiążący się z obowiązkiem rozliczania</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollPrtfl" type="Max35Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod portfela zabezpieczeń. Brak podania portfela zabezpieczeń wskazuje, że transakcja nie jest zabezpieczana na portfel.</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod portfela zabezpieczeń</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CounterpartyInformation">
		<xs:annotation>
			<xs:documentation>Podstawowe informacje o stronach transakcji</xs:documentation>
			<xs:appinfo>
				<NmPL>Podstawowe informacje o stronach transakcji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TRRprtId" type="TRInstitutionCode">
				<xs:annotation>
					<xs:documentation>Wewnętrzny identyfikator RT podmiotu raportującego budowany na Primary ID i Secondary ID.</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator RT wystawcy komunikatu </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtyTRId" type="TRInstitutionCode">
				<xs:annotation>
					<xs:documentation>Wewnętrzny identyfikator RT podmiotu raportującego budowany na Primary ID i Secondary ID.</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny kontrahenta RT</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtySd" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Strona, po której znajduje się kontrahent</xs:documentation>
					<xs:appinfo>
						<NmPL>Strona, po której znajduje się kontrahent</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtyAdrAndSctr" type="CounterpartyAddressAndSectorDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegółowe informacje adresowo-branżowe o kontrahencie</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegółowe informacje adresowo-branżowe o kontrahencie</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtyDtls" type="CounterpartyDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegółowe informacje opisujące kontrahenta</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegółowe informacje opisujące kontrahenta</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OthrCtrPtyTRId" type="TRInstitutionCode2">
				<xs:annotation>
					<xs:documentation>Wewnętrzny identyfikator RT podmiotu raportującego budowany na Primary ID i Secondary ID.</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny RT drugiego kontrahenta</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OthrCtrPtyInd" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Czy druga strona jest osobą fizyczną, która nie jest zobowiązaną do raportowania</xs:documentation>
					<xs:appinfo>
						<NmPL>Czy druga strona jest osobą fizyczną, która nie jest zobowiązaną do raportowania</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NonEEACtrPty" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kontrakt z kontrahentem spoza EOG </xs:documentation>
					<xs:appinfo>
						<NmPL>Kontrakt z kontrahentem spoza EOG </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:annotation>
			<xs:documentation>Data i czas</xs:documentation>
			<xs:appinfo>
				<NmPL>Data i czas</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Dt" type="ISODate">
					<xs:annotation>
						<xs:documentation>Data</xs:documentation>
						<xs:appinfo>
							<NmPL>Data</NmPL>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="DtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>Data i czas</xs:documentation>
						<xs:appinfo>
							<NmPL>Data i czas</NmPL>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Domicile">
		<xs:annotation>
			<xs:documentation>Siedziba kontrahenta</xs:documentation>
			<xs:appinfo>
				<NmPL>Siedziba kontrahenta</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode">
				<xs:annotation>
					<xs:documentation>Kraj rezydencji</xs:documentation>
					<xs:appinfo>
						<NmPL>Kraj rezydencji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCd" type="Max40Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod pocztowy</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod pocztowy</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TwnNm" type="Max60Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Miasto</xs:documentation>
					<xs:appinfo>
						<NmPL>Miasto</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrtNm" type="Max150Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ulica</xs:documentation>
					<xs:appinfo>
						<NmPL>Ulica</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BldgId" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numer budynku</xs:documentation>
					<xs:appinfo>
						<NmPL>Numer budynku</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrmsId" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numer lokalu</xs:documentation>
					<xs:appinfo>
						<NmPL>Numer lokalu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DmclDtls" type="Max208Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pozostałe dane kontaktowe</xs:documentation>
					<xs:appinfo>
						<NmPL>Pozostałe dane kontaktowe</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FunctionOfMessage">
		<xs:annotation>
			<xs:documentation>Funkcja komunikatu</xs:documentation>
			<xs:appinfo>
				<NmPL>Funkcja komunikatu</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NEWM">
				<xs:annotation>
					<xs:documentation>Nowy komunikat</xs:documentation>
					<xs:appinfo>
						<NmPL>Nowy komunikat</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FXTrade">
		<xs:annotation>
			<xs:documentation>Transakcje walutowe.
				Sekcja wypełniania  dla kontraktów na walutę; jeśli UPI jest raportowane i zawiera wszystkie informacje wskazane poniżej, to ta sekcja nie jest wypełniania /raportowana.
			 </xs:documentation>
			<xs:appinfo>
				<NmPL>Transakcje walutowe </NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Ccy2" type="CurrencyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Waluta 2 </xs:documentation>
					<xs:appinfo>
						<NmPL>Waluta 2</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="XchgRate1" type="Max10Dec5Signed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kurs walutowy 1 </xs:documentation>
					<xs:appinfo>
						<NmPL>Kurs walutowy 1 </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrwrdXchgRate" type="Max10Dec5Signed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Terminowy kurs walutowy </xs:documentation>
					<xs:appinfo>
						<NmPL>Terminowy kurs walutowy </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="XchgRateBsis" type="Max10Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Podstawa kursu walutowego </xs:documentation>
					<xs:appinfo>
						<NmPL>Podstawa kursu walutowego </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralInformation">
		<xs:annotation>
			<xs:documentation>Informacje ogólne</xs:documentation>
			<xs:appinfo>
				<NmPL>Informacje ogólne</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SndrMsgRef" type="Max16Text">
				<xs:annotation>
					<xs:documentation>Identyfikator komunikatu utworzony przez nadawcę</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FuncOfMsg" type="FunctionOfMessage">
				<xs:annotation>
					<xs:documentation>Funkcja komunikatu</xs:documentation>
					<xs:appinfo>
						<NmPL>Funkcja komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="DateAndDateTimeChoice">
				<xs:annotation>
					<xs:documentation>Data utworzenia komunikatu</xs:documentation>
					<xs:appinfo>
						<NmPL>Data utworzenia komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActnTp" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Rodzaj zmiany.Dopuszczalne wartości ze standardu ESMA</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj zmiany</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActnTpDtls" type="Max50Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegółowe informacje dotyczące zmiany. Pole obowiązkowe jeżeli w polu 4 (Rodzaj zmiany/ Action type) podana wartość = O.</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegółowe informacje dotyczące zmiany</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepDtTm" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data przyjęcia zgłoszenia przez repozytorium</xs:documentation>
					<xs:appinfo>
						<NmPL>Data przyjęcia zgłoszenia przez repozytorium</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EligDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>Data obowiązywania zgłoszenia</xs:documentation>
					<xs:appinfo>
						<NmPL>Data obowiązywania zgłoszenia</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BckldgInd" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Znacznik backloading’u </xs:documentation>
					<xs:appinfo>
						<NmPL>Znacznik backloading’u </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lnk" type="Linkages">
				<xs:annotation>
					<xs:documentation>Powiązania z innymi komunikatami</xs:documentation>
					<xs:appinfo>
						<NmPL>Referencje</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InterestRateTrade">
		<xs:annotation>
			<xs:documentation>Stopy procentowe.
				Sekcja wypełniania/raportowana  dla kontraktów na stopę procentową walutę; jeśli UPI jest raportowane i zawiera wszystkie informacje wskazane poniżej, to ta sekcja nie jest wypełniania /raportowana.
			 </xs:documentation>
			<xs:appinfo>
				<NmPL>Stopy procentowe </NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FxdRateLg1" type="Max20Dec5Signed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Stała stopa procentowa części („nogi”) 1</xs:documentation>
					<xs:appinfo>
						<NmPL>Stała stopa procentowa części („nogi”) 1</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FxdRateLg2" type="Max20Dec5Signed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Stała stopa procentowa części („nogi”) 2</xs:documentation>
					<xs:appinfo>
						<NmPL>Stała stopa procentowa części („nogi”) 2</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FxdRateDayCnt" type="Max10Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Długość okresu stosowania stałej stopy procentowej</xs:documentation>
					<xs:appinfo>
						<NmPL>Długość okresu stosowania stałej stopy procentowej</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FxdLgPmtFrqcy" type="Max10Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Częstotliwość płatności – część („noga”) o stałym oprocentowaniu </xs:documentation>
					<xs:appinfo>
						<NmPL>Częstotliwość płatności – część („noga”) o stałym oprocentowaniu </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FltgLgPmtFrqcy" type="Max10Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Częstotliwość płatności – część o zmiennym oprocentowaniu </xs:documentation>
					<xs:appinfo>
						<NmPL>Częstotliwość płatności – część o zmiennym oprocentowaniu </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FltgRateRstFrqcy" type="Max10Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Częstotliwość ustalania na nowo zmiennej stopy procentowej </xs:documentation>
					<xs:appinfo>
						<NmPL>Częstotliwość ustalania na nowo zmiennej stopy procentowej </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FltgRateLg1" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zmienna stopa procentowa części („nogi”) 1</xs:documentation>
					<xs:appinfo>
						<NmPL>Zmienna stopa procentowa części („nogi”) 1</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FltgRateLg2" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zmienna stopa procentowa części („nogi”) 2</xs:documentation>
					<xs:appinfo>
						<NmPL>Zmienna stopa procentowa części („nogi”) 2</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstitutionCode">
		<xs:annotation>
			<xs:documentation>Identyfikator instytucji</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator instytucji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max50Text">
				<xs:annotation>
					<xs:documentation>Identyfikator instytucji:identyfikator podmiotu prawnego (LEI) (20 A);
						tymczasowy identyfikator podmiotu (20 A);
						kod identyfikacyjny jednostki (BIC) (11A); 
						kod klienta (50A).
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator instytucji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="Code4Text">
				<xs:annotation>
					<xs:documentation>Dopuszczalne wartości:
						- LEIC	identyfikator podmiotu prawnego;
						- PLEI	tymczasowy identyfikator podmiotu;
						- BICC kod identyfikacyjny jednostki (BIC);
						- OTHR kod klienta (50A).
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj użytego identyfikatora</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation>Data</xs:documentation>
			<xs:appinfo>
				<NmPL>Data</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation>Data i czas</xs:documentation>
			<xs:appinfo>
				<NmPL>Data i czas</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="KDPWDocument">
		<xs:annotation>
			<xs:documentation>Komunikat systemu KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Komunikat systemu KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trar.ntf.001.01" type="trar.ntf.001.01" maxOccurs="10000">
				<xs:annotation>
					<xs:documentation>Repozytorium transakcji - notyfikacja</xs:documentation>
					<xs:appinfo>
						<NmPL>Repozytorium transakcji - notyfikacja</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Sndr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Nadawca w postaci kodu KDPW</xs:documentation>
				<xs:appinfo>
					<NmPL>Nadawca</NmPL>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Rcvr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Odbiorca w postaci kodu KDPW</xs:documentation>
				<xs:appinfo>
					<NmPL>Odbiorca</NmPL>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="KDPWMemberIdentifier">
		<xs:annotation>
			<xs:documentation>Identyfikator uczestnika KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator uczestnika KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Linkages">
		<xs:annotation>
			<xs:documentation>Powiązania z innymi komunikatami</xs:documentation>
			<xs:appinfo>
				<NmPL>Referencje</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RltdRef" type="RelatedReference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identyfikator przesłanego raportu</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator przesłanego raportu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RltdReqRef" type="Max16Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identyfikator przesłanego zapytania</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator przesłanego zapytania</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradRefId" type="TradeReference" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Referencje transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Referencje transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max4Int">
		<xs:annotation>
			<xs:documentation>Liczba całkowita o maksymalnej długości 4 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10Int">
		<xs:annotation>
			<xs:documentation>Liczba całkowita o maksymalnej długości 10 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max11Int">
		<xs:annotation>
			<xs:documentation>Liczba całkowita o maksymalnej długości 11 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="11"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10Dec2">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 10 znaków, w tym 2 znaki po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 10 znaków, w tym 2 znaki po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="100000000"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10Dec2Signed">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 10 znaków, w tym 2 znaków po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 10 znaków, w tym 2 znaków po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="-100000000"/>
			<xs:maxExclusive value="100000000"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10Dec5">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 10 znaków, w tym 5 znaki po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 10 znaków, w tym 5 znaki po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="100000"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10Dec5Signed">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 10 znaków, w tym 5 znaków po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 10 znaków, w tym 5 znaków po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="-100000"/>
			<xs:maxExclusive value="100000"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Dec2">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 20 znaków, w tym 2 znaków po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 20 znaków, w tym 2 znaków po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="1000000000000000000"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Dec2Signed">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 20 znaków, w tym 2 znaków po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 20 znaków, w tym 2 znaków po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="-1000000000000000000"/>
			<xs:maxExclusive value="1000000000000000000"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Dec5">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 20 znaków, w tym 5 znaków po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 20 znaków, w tym 5 znaków po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="1000000000000000"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Dec5Signed">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 20 znaków, w tym 5 znaków po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 20 znaków, w tym 5 znaków po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="-1000000000000000"/>
			<xs:maxExclusive value="1000000000000000"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1Text">
		<xs:annotation>
			<xs:documentation>Tekst o długości 1 znaku</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 2 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 3 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 4 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 10 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 16 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 20 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 35 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max40Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 20 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max50Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 50 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max52Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 52 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="52"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 60 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max100Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 100 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 140 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 150 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max208Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 208 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="208"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OptionTrade">
		<xs:annotation>
			<xs:documentation>Opcje.
				Sekcja wypełniania dla kontraktów opcyjnych;  jeśli UPI jest raportowane i zawiera wszystkie informacje wskazane poniżej, to ta sekcja nie jest wypełniania /raportowana.
			 </xs:documentation>
			<xs:appinfo>
				<NmPL>Opcje</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OptnTp" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rodzaj opcji </xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj opcji </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExrcStyle" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rodzaj opcji (sposób wykonania)</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj opcji (sposób wykonania)</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrkPric" type="Max10Dec2Signed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cena wykonania (górny/dolny pułap) </xs:documentation>
					<xs:appinfo>
						<NmPL>Cena wykonania (górny/dolny pułap) </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceChoice">
		<xs:annotation>
			<xs:documentation>Cena wyrażona w walucie lub stawka procentowa.
			 </xs:documentation>
			<xs:appinfo>
				<NmPL>Cena wyrażona w walucie lub stawka procentowa.</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PricRt" type="Max20Dec5Signed">
				<xs:annotation>
					<xs:documentation>Cena/stawka</xs:documentation>
					<xs:appinfo>
						<NmPL>Cena/stawka</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PricNot" type="Max3Text">
				<xs:annotation>
					<xs:documentation>Oznaczenie ceny. Dopuszczalne wartości: 
					kod waluty zgodny z ISO4217; oznaczenie '100' (dla wartości wyrażonych w %);  ‘NA’ (gdy wartość jest niedostępna).</xs:documentation>
					<xs:appinfo>
						<NmPL>Oznaczenie ceny</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reason">
		<xs:annotation>
			<xs:documentation>Przyczyna</xs:documentation>
			<xs:appinfo>
				<NmPL>Przyczyna</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RsnCd" type="Code4Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod przyczyny</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod przyczyny</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RsnTxt" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Opis przyczyny</xs:documentation>
					<xs:appinfo>
						<NmPL>Opis przyczyny</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelatedReference">
		<xs:annotation>
			<xs:documentation>Identyfikator przesłanego raportu </xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator przesłanego raportu </NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrvsSndrMsgRef" type="Max16Text">
				<xs:annotation>
					<xs:documentation>Identyfikator poprzedniego komunikatu</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator poprzedniego komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtySd" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Strona, po której znajduje się kontrahent</xs:documentation>
					<xs:appinfo>
						<NmPL>Strona, po której znajduje się kontrahent</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RiskMitigation">
		<xs:annotation>
			<xs:documentation>Ograniczanie ryzyka / zgłaszanie ryzyka</xs:documentation>
			<xs:appinfo>
				<NmPL>Ograniczanie ryzyka / zgłaszanie ryzyka</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CnfrmtnDtTm" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Znacznik czasu potwierdzenia</xs:documentation>
					<xs:appinfo>
						<NmPL>Znacznik czasu potwierdzenia</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CnfrmtnTp" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sposób dokonania potwierdzenia</xs:documentation>
					<xs:appinfo>
						<NmPL>Sposób dokonania potwierdzenia</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:annotation>
			<xs:documentation>Status</xs:documentation>
			<xs:appinfo>
				<NmPL>Status</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StsCd" type="Code4Text">
				<xs:annotation>
					<xs:documentation>Kod statusu</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod statusu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rsn" type="Reason" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Przyczyna</xs:documentation>
					<xs:appinfo>
						<NmPL>Przyczyna</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeAdditionalInformation">
		<xs:annotation>
			<xs:documentation>Szczegóły o transakcji</xs:documentation>
			<xs:appinfo>
				<NmPL>Szczegóły o transakcji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VenueOfExc" type="Max4Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Miejsce realizacji transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Miejsce realizacji transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cmprssn" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kompresja</xs:documentation>
					<xs:appinfo>
						<NmPL>Kompresja</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pric" type="PriceChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cena/stawka </xs:documentation>
					<xs:appinfo>
						<NmPL>Cena/stawka </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NmnlAmt" type="Max20Dec2Signed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kwota nominalna</xs:documentation>
					<xs:appinfo>
						<NmPL>Kwota nominalna </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PricMltplr" type="Max10Dec2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mnożnik ceny </xs:documentation>
					<xs:appinfo>
						<NmPL>Mnożnik ceny </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Qty" type="Max10Int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ilość </xs:documentation>
					<xs:appinfo>
						<NmPL>Ilość </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpPmt" type="Max10Dec2Signed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Płatność z góry </xs:documentation>
					<xs:appinfo>
						<NmPL>Płatność z góry </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DlvryTp" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typ dostawy </xs:documentation>
					<xs:appinfo>
						<NmPL>Typ dostawy </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExecDtTm" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Znacznik czasu realizacji transakcji. Zapis godziny wg UTC</xs:documentation>
					<xs:appinfo>
						<NmPL>Znacznik czasu realizacji transakcji </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FctvDt" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data wejścia w życie </xs:documentation>
					<xs:appinfo>
						<NmPL>Data wejścia w życie </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="MtrtyDt" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Termin zapadalności</xs:documentation>
					<xs:appinfo>
						<NmPL>Termin zapadalności</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrmntnDt" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data rozwiązania</xs:documentation>
					<xs:appinfo>
						<NmPL>Data rozwiązania</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmtDt" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data rozrachunku </xs:documentation>
					<xs:appinfo>
						<NmPL>Data rozrachunku </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="MstrAgrmntTp" type="Max50Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rodzaj umowy ramowej </xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj umowy ramowej  </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="MstrAgrmntVrsn" type="Max4Int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wersja umowy ramowej. Rok w formacie xxxx.</xs:documentation>
					<xs:appinfo>
						<NmPL>Wersja umowy ramowej  </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeDetails">
		<xs:annotation>
			<xs:documentation>Szczegóły transakcji</xs:documentation>
			<xs:appinfo>
				<NmPL>Szczegóły transakcji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TradId" type="TradeIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identyfikacja transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikacja transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CntrctTp" type="ContractType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typ kontraktu</xs:documentation>
					<xs:appinfo>
						<NmPL>Typ kontraktu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradAddtlInf" type="TradeAdditionalInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegóły o transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegóły o transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RskMtgtn" type="RiskMitigation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ograniczanie ryzyka / zgłaszanie ryzyka</xs:documentation>
					<xs:appinfo>
						<NmPL>Ograniczanie ryzyka / zgłaszanie ryzyka</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrgInf" type="ClearingInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rozliczanie</xs:documentation>
					<xs:appinfo>
						<NmPL>Rozliczanie</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IRTrad" type="InterestRateTrade" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Stopy procentowe.
						Sekcja wypełniania/raportowana  dla kontraktów na stopę procentową walutę; jeśli UPI jest raportowane i zawiera wszystkie informacje wskazane poniżej, to ta sekcja nie jest wypełniania /raportowana.					
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Stopy procentowe</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FXTrad" type="FXTrade" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transakcje walutowe.
					  Sekcja wypełniania  dla kontraktów na walutę; jeśli UPI jest raportowane i zawiera wszystkie informacje wskazane poniżej, to ta sekcja nie jest wypełniania /raportowana.
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Transakcje walutowe</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CmmdtyTrad" type="CommodityTrade" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transakcje towarowe.
					  Sekcja wypełniania dla kontraktów towarowych;  jeśli UPI jest raportowane i zawiera wszystkie informacje wskazane poniżej, to ta sekcja nie jest wypełniania /raportowana.					
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Transakcje towarowe</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OptnTrad" type="OptionTrade" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Opcje.
						Sekcja wypełniania dla kontraktów opcyjnych;  jeśli UPI jest raportowane i zawiera wszystkie informacje wskazane poniżej, to ta sekcja nie jest wypełniania /raportowana.					
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Opcje</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRInstitutionCode">
		<xs:annotation>
			<xs:documentation>Identyfikator instytucji RT</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator instytucji RT</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max20Text">
				<xs:annotation>
					<xs:documentation>Identyfikator instytucji</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator instytucji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="Code4Text">
				<xs:annotation>
					<xs:documentation>Rodzaj użytego identyfikatora</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj użytego identyfikatora</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRInstitutionCode2">
		<xs:annotation>
			<xs:documentation>Identyfikator instytucji RT</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator instytucji RT</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max50Text">
				<xs:annotation>
					<xs:documentation>Identyfikator instytucji</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator instytucji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="Code4Text">
				<xs:annotation>
					<xs:documentation>Rodzaj użytego identyfikatora</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj użytego identyfikatora</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeIdentification">
		<xs:annotation>
			<xs:documentation>Identyfikacja transakcji</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikacja transakcji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max52Text">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrvsId" type="Max52Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poprzedni kod identyfikacyjny transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Poprzedni kod identyfikacyjny transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradRefNb" type="Max40Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numer referencyjny transakcji. Dla niektórych typów zmian pole to może być polem bezwzględnie wymaganym. </xs:documentation>
					<xs:appinfo>
						<NmPL>Numer referencyjny transakcji </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeReference">
		<xs:annotation>
			<xs:documentation>Numer referencyjny transakcji</xs:documentation>
			<xs:appinfo>
				<NmPL>Numer referencyjny transakcji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TradId" type="Max52Text">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtyTRId" type="Max20Text">
				<xs:annotation>
					<xs:documentation>Podstawowy identyfikator RT</xs:documentation>
					<xs:appinfo>
						<NmPL>Podstawowy identyfikator RT</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OthrCtrPtyTRId" type="Max50Text">
				<xs:annotation>
					<xs:documentation>Podstawowy identyfikator RT drugiego kontrahenta</xs:documentation>
					<xs:appinfo>
						<NmPL>Podstawowy identyfikator RT drugiego kontrahenta</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtySd" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Strona, po której znajduje się kontrahent</xs:documentation>
					<xs:appinfo>
						<NmPL>Strona, po której znajduje się kontrahent</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnderlyingDefinition">
		<xs:annotation>
			<xs:documentation>Instrument bazowy</xs:documentation>
			<xs:appinfo>
				<NmPL>Instrument bazowy</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UndrlygId" type="Max20Text">
				<xs:annotation>
					<xs:documentation>Identyfikator instrumentu bazowego</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator instrumentu bazowego</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UndrlygTp" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Typ instrumentu bazowego</xs:documentation>
					<xs:appinfo>
						<NmPL>Typ instrumentu bazowego</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValuationAndCollateralInformation">
		<xs:annotation>
			<xs:documentation>Informacje o wycenie i zabezpieczeniach</xs:documentation>
			<xs:appinfo>
				<NmPL>Informacje o wycenie i zabezpieczeniach</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ValtnInf" type="ValuationInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wycena kontraktu wg wartości rynkowej</xs:documentation>
					<xs:appinfo>
						<NmPL>Wycena kontraktu wg wartości rynkowej</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollInf" type="CollateralInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Charakterystyka zabezpieczenia</xs:documentation>
					<xs:appinfo>
						<NmPL>Charakterystyka zabezpieczenia</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtySd" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Strona, po której znajduje się kontrahent</xs:documentation>
					<xs:appinfo>
						<NmPL>Strona, po której znajduje się kontrahent</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValuationInformation">
		<xs:annotation>
			<xs:documentation>Wycena kontraktu wg wartości rynkowej</xs:documentation>
			<xs:appinfo>
				<NmPL>Wycena kontraktu wg wartości rynkowej</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MtMVal" type="Max20Dec5Signed">
				<xs:annotation>
					<xs:documentation>Wycena kontraktu wg wartości rynkowej</xs:documentation>
					<xs:appinfo>
						<NmPL>Wycena kontraktu wg wartości rynkowej</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ccy" type="CurrencyCode">
				<xs:annotation>
					<xs:documentation>Waluta wyceny </xs:documentation>
					<xs:appinfo>
						<NmPL>Waluta wyceny </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValtnDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>Data i godzina wyceny </xs:documentation>
					<xs:appinfo>
						<NmPL>Data i godzina wyceny </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValtnTp" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Rodzaj wyceny </xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj wyceny </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trar.ntf.001.01">
		<xs:annotation>
			<xs:documentation>Repozytorium transakcji - notyfikacja</xs:documentation>
			<xs:appinfo>
				<NmPL>Repozytorium transakcji - notyfikacja</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GnlInf" type="GeneralInformation">
				<xs:annotation>
					<xs:documentation>Blok informacji ogólnych</xs:documentation>
					<xs:appinfo>
						<NmPL>Informacje ogólne</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sts" type="Status">
				<xs:annotation>
					<xs:documentation>Status</xs:documentation>
					<xs:appinfo>
						<NmPL>Status</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtyInf" type="CounterpartyInformation" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Podstawowe informacje o stronach transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Podstawowe informacje o stronach transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValtnAndCollInf" type="ValuationAndCollateralInformation" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Informacje o wycenie i zabezpieczeniach</xs:documentation>
					<xs:appinfo>
						<NmPL>Informacje o wycenie i zabezpieczeniach</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradDtls" type="TradeDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegóły transakcji</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegóły transakcji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RcrdSts" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status rekordu</xs:documentation>
					<xs:appinfo>
						<NmPL>Status rekordu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
