modules/kdpw-xml/src/main/resources/schema/trar.ins.002.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kdpw:xsd:trar.ins.002.02" targetNamespace="urn:kdpw:xsd:trar.ins.002.02" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Raportowanie wyceny</xs:documentation>
		<xs:appinfo>
			<NmPL>Raportowanie wyceny</NmPL>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="KDPWDocument" type="KDPWDocument">
		<xs:annotation>
			<xs:documentation>Komunikat systemu KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Komunikat systemu KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="Code4Text">
		<xs:annotation>
			<xs:documentation>Kwalifikator, kod</xs:documentation>
			<xs:appinfo>
				<NmPL>Kwalifikator</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CounterpartyAndProductIdentification">
		<xs:annotation>
			<xs:documentation>Identyfikacja kontrahenta i produktu</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikacja kontrahenta i produktu</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CtrPtyInf" type="CounterpartyIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identyfikacja kontrahenta</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikacja kontrahenta</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrdctInf" type="ProductIdentification">
				<xs:annotation>
					<xs:documentation>Identyfikacja produktu</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikacja produktu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CounterpartyIdentification">
		<xs:annotation>
			<xs:documentation>Podstawowe informacje o stronach transakcji</xs:documentation>
			<xs:appinfo>
				<NmPL>Podstawowe informacje o stronach transakcji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CtrPtyTRId" type="TRInstitutionCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wewnętrzny identyfikator RT podmiotu raportującego budowany na Primary ID i Secondary ID.</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny kontrahenta RT</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrMmbId" type="InstitutionCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny członka rozliczającego </xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny członka rozliczającego </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:annotation>
			<xs:documentation>Kod waluty</xs:documentation>
			<xs:appinfo>
				<NmPL>Kod waluty</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:annotation>
			<xs:documentation>Data i czas</xs:documentation>
			<xs:appinfo>
				<NmPL>Data i czas</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Dt" type="ISODate">
					<xs:annotation>
						<xs:documentation>Data</xs:documentation>
						<xs:appinfo>
							<NmPL>Data</NmPL>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="DtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>Data i czas</xs:documentation>
						<xs:appinfo>
							<NmPL>Data i czas</NmPL>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FunctionOfMessage">
		<xs:annotation>
			<xs:documentation>Funkcja komunikatu</xs:documentation>
			<xs:appinfo>
				<NmPL>Funkcja komunikatu</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NEWM">
				<xs:annotation>
					<xs:documentation>Nowy komunikat</xs:documentation>
					<xs:appinfo>
						<NmPL>Nowy komunikat</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GeneralInformation">
		<xs:annotation>
			<xs:documentation>Informacje ogólne</xs:documentation>
			<xs:appinfo>
				<NmPL>Informacje ogólne</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TRRprtId" type="TRInstitutionCode">
				<xs:annotation>
					<xs:documentation>Wewnętrzny identyfikator RT podmiotu raportującego budowany na Primary ID i Secondary ID.</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator RT wystawcy komunikatu </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SndrMsgRef" type="Max16Text">
				<xs:annotation>
					<xs:documentation>Identyfikator komunikatu utworzony przez nadawcę</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FuncOfMsg" type="FunctionOfMessage">
				<xs:annotation>
					<xs:documentation>Funkcja komunikatu</xs:documentation>
					<xs:appinfo>
						<NmPL>Funkcja komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActnTp" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Rodzaj zmiany. Dopuszczalna wartość: V. </xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj zmiany</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActnTpDtls" type="Max50Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegółowe informacje dotyczące zmiany.</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegółowe informacje dotyczące zmiany</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data utworzenia komunikatu</xs:documentation>
					<xs:appinfo>
						<NmPL>Data utworzenia komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EligDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>Data obowiązywania zgłoszenia</xs:documentation>
					<xs:appinfo>
						<NmPL>Data obowiązywania zgłoszenia</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtlLvl" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Flaga identyfikująca rodzaj odpowiedzi ( S  - oznacza odpowiedź zbiorczą bez szczegółów, D -  oznacza odpowiedź ze szczegółami dokonanych zapisów) </xs:documentation>
					<xs:appinfo>
						<NmPL>Poziom szczegółowości odpowiedzi</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lnk" type="Linkages" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Referencje</xs:documentation>
					<xs:appinfo>
						<NmPL>Referencje</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstitutionCode">
		<xs:annotation>
			<xs:documentation>Identyfikator instytucji</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator instytucji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max50Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identyfikator instytucji:identyfikator podmiotu prawnego (LEI) (20 A);
						tymczasowy identyfikator podmiotu (20 A);
						kod identyfikacyjny jednostki (BIC) (11A); 
						kod klienta (50A).
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator instytucji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="Code4Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dopuszczalne wartości:
						- LEIC	identyfikator podmiotu prawnego;
						- PLEI	tymczasowy identyfikator podmiotu;
						- BICC kod identyfikacyjny jednostki (BIC);
						- OTHR kod klienta (50A).
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj użytego identyfikatora</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation>Data</xs:documentation>
			<xs:appinfo>
				<NmPL>Data</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation>Data i czas</xs:documentation>
			<xs:appinfo>
				<NmPL>Data i czas</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="KDPWDocument">
		<xs:annotation>
			<xs:documentation>Komunikat systemu KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Komunikat systemu KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trar.ins.002.02" type="trar.ins.002.02" maxOccurs="10000">
				<xs:annotation>
					<xs:documentation>Raportowanie wyceny</xs:documentation>
					<xs:appinfo>
						<NmPL>Raportowanie wyceny</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Sndr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Nadawca w postaci kodu KDPW</xs:documentation>
				<xs:appinfo>
					<NmPL>Nadawca</NmPL>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Rcvr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Odbiorca w postaci kodu KDPW</xs:documentation>
				<xs:appinfo>
					<NmPL>Odbiorca</NmPL>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="KDPWMemberIdentifier">
		<xs:annotation>
			<xs:documentation>Identyfikator uczestnika KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator uczestnika KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Linkages">
		<xs:annotation>
			<xs:documentation>Powiązania z innymi komunikatami</xs:documentation>
			<xs:appinfo>
				<NmPL>Referencje</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrvsRef" type="PreviousReference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identyfikator poprzedniego raportu</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator poprzedniego raportu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max20Dec5">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 20 znaków, w tym 5 znaków po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 20 znaków, w tym 5 znaków po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="1000000000000000"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Dec5Signed">
		<xs:annotation>
			<xs:documentation>Liczba o max. długości 20 znaków, w tym 5 znaków po przecinku</xs:documentation>
			<xs:appinfo>
				<NmPL>Liczba o max. długości 20 znaków, w tym 5 znaków po przecinku</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="-1000000000000000"/>
			<xs:maxExclusive value="1000000000000000"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1Text">
		<xs:annotation>
			<xs:documentation>Tekst o długości 1 znaku</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 4 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 16 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 20 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max50Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 50 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PreviousReference">
		<xs:annotation>
			<xs:documentation>Identyfikator poprzedniego raportu </xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator poprzedniego raportu </NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrvsSndrMsgRef" type="Max16Text">
				<xs:annotation>
					<xs:documentation>Identyfikator komunikatu</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductIdentification">
		<xs:annotation>
			<xs:documentation>– Identyfikacja produktu</xs:documentation>
			<xs:appinfo>
				<NmPL>– Identyfikacja produktu</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Txnm" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Stosowana klasyfikacja </xs:documentation>
					<xs:appinfo>
						<NmPL>Stosowana klasyfikacja </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrdctId1" type="Max20Text">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny produktu nr 1</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny produktu nr 1</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrdctId2" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod identyfikacyjny produktu nr 2</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny produktu nr 2</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechUndrlyg" type="Max20Text">
				<xs:annotation>
					<xs:documentation>Techniczny instrument bazowy</xs:documentation>
					<xs:appinfo>
						<NmPL>Techniczny instrument bazowy</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRInstitutionCode">
		<xs:annotation>
			<xs:documentation>Identyfikator instytucji RT</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator instytucji RT</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max20Text">
				<xs:annotation>
					<xs:documentation>Identyfikator instytucji</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator instytucji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="Code4Text">
				<xs:annotation>
					<xs:documentation>Rodzaj użytego identyfikatora</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj użytego identyfikatora</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValuationInformation">
		<xs:annotation>
			<xs:documentation>Wycena kontraktu wg wartości rynkowej</xs:documentation>
			<xs:appinfo>
				<NmPL>Wycena kontraktu wg wartości rynkowej</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MtMVal" type="Max20Dec5Signed">
				<xs:annotation>
					<xs:documentation>Wycena kontraktu wg wartości rynkowej</xs:documentation>
					<xs:appinfo>
						<NmPL>Wycena kontraktu wg wartości rynkowej</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ccy" type="CurrencyCode">
				<xs:annotation>
					<xs:documentation>Waluta wyceny </xs:documentation>
					<xs:appinfo>
						<NmPL>Waluta wyceny </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValtnDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>Data i godzina wyceny </xs:documentation>
					<xs:appinfo>
						<NmPL>Data i godzina wyceny </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValtnTp" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Rodzaj wyceny </xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj wyceny </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DeltnInd" type="YesNoIndicator" use="optional">
			<xs:annotation>
				<xs:documentation>Żądanie usunięcia. Wartość Y oznacza żądanie usunięcia elementu.</xs:documentation>
				<xs:appinfo>
					<NmPL>Żądanie usunięcia</NmPL>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ValuationDetails">
		<xs:annotation>
			<xs:documentation>Szczegóły dotyczące wyceny</xs:documentation>
			<xs:appinfo>
				<NmPL>Szczegóły dotyczące wyceny</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CtrPtyAndPrdctInf" type="CounterpartyAndProductIdentification">
				<xs:annotation>
					<xs:documentation>Identyfikacja kontrahenta i produktu</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikacja kontrahenta i produktu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValtnInf" type="ValuationInformation">
				<xs:annotation>
					<xs:documentation>Wycena kontraktu wg wartości rynkowej</xs:documentation>
					<xs:appinfo>
						<NmPL>Wycena kontraktu wg wartości rynkowej</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="YesNoIndicator">
		<xs:annotation>
			<xs:documentation>Znacznik tak/nie</xs:documentation>
			<xs:appinfo>
				<NmPL>Znacznik tak/nie</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation>Prawda (tak)</xs:documentation>
					<xs:appinfo>
						<NmPL>Prawda (tak)</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>Fałsz (nie)</xs:documentation>
					<xs:appinfo>
						<NmPL>Fałsz (nie)</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="trar.ins.002.02">
		<xs:annotation>
			<xs:documentation>Raportowanie wyceny</xs:documentation>
			<xs:appinfo>
				<NmPL>Raportowanie wyceny</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GnlInf" type="GeneralInformation">
				<xs:annotation>
					<xs:documentation>Blok informacji ogólnych</xs:documentation>
					<xs:appinfo>
						<NmPL>Informacje ogólne</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValtnDtls" type="ValuationDetails">
				<xs:annotation>
					<xs:documentation>Szczegóły dotyczące wyceny</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegóły dotyczące wyceny</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
