modules/kdpw-xml/src/main/resources/schema/trar.ins.002.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kdpw:xsd:trar.ins.002.04" targetNamespace="urn:kdpw:xsd:trar.ins.002.04" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation source="Name" xml:lang="EN">Trade repository valuation report</xs:documentation>
		<xs:documentation source="Definition" xml:lang="EN">Trade repository valuation report</xs:documentation>
	</xs:annotation>
	<xs:element name="KDPWDocument" type="KDPWDocument">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">KDPW_TR system message</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">KDPW_TR system message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ActiveCurrencyAnd20AmountN">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAnd20Amount</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAnd20Amount_SimpleType_N">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAnd20Amount_SimpleType_N">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="19"/>
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code4Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Qualifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Qualifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ContractValuationData_TR_I">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ContractValuationData2__1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to contract valuation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RptgCtrPtyId" type="LEIIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique code identifying the reporting counterparty of the contract.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechUndrlyg" type="Max50Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Technical underlying</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Technical underlying</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrctVal" type="ActiveCurrencyAnd20AmountN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ContractValue</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Mark to market valuation of the contract, or mark to model valuation where applicable under Article 11(2) of Regulation (EU) No 648/2012. The CCP’s valuation to be used for a cleared trade.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TmStmp" type="ISODateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TimeStamp</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date and time of the last valuation.&#13;
						&#13;
						Usage: For mark-to-market valuation the date and time of publishing of reference prices shall be reported. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="ValuationType1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Indicate whether valuation was performed mark to market, mark to model or provided by the CCP.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date and time</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Date and time</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Dt" type="ISODate">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Date and time</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Date and time</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralInformation">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">General information</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">General information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RptgNtty" type="LEIIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Report submitting entity ID</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Report submitting entity ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SndrMsgRef" type="Max16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Sender message reference</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Sender message reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EligDt" type="ISODate">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">EligibleDate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Eligible date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtlsLvl" type="Max1Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DetailsLevel</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Level of the details</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepTmStmp" type="ISONormalisedDateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportingTimestamp</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reporting timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">an ISODateTime</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ISONormalisedDateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISONormalisedDateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">an ISODateTime whereby all timezoned dateTime values are UTC.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value=".*Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="KDPWDocument">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">KDPW_TR system message</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">KDPW_TR system message </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trar.ins.002.04" type="trar.ins.002.04" maxOccurs="10000">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Trade repository valuation report</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Trade repository valuation report</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Sndr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="EN">Senders KDPW institution code</xs:documentation>
				<xs:documentation source="Definition" xml:lang="EN">Senders KDPW institution code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Rcvr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="EN">Receivers KDPW institution code</xs:documentation>
				<xs:documentation source="Definition" xml:lang="EN">Receivers KDPW institution code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="KDPWMemberIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">KDPW institution code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">KDPW institution code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LEIIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max1Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1 character.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max50Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max50Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 50 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValuationType1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ValuationType1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the type used for the calculation of the valuation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CCPValuation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Central counterparty (CCP) valuation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MarkToMarket</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Mark to market valuation.&#13;
&#13;
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MarkToModel</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Mark to model valuation.&#13;
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="trar.ins.002.04">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Trade repository valuation report</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Trade repository valuation report</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GnlInf" type="GeneralInformation">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">General information</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">General information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValtnInf" type="ContractValuationData_TR_I">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ValuationInformation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Valuation information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
