modules/kdpw-xml/src/main/resources/schema/trar.ins.005.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kdpw:xsd:trar.ins.005.02" targetNamespace="urn:kdpw:xsd:trar.ins.005.02" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Raportowanie zmian danych kontrahenta</xs:documentation>
		<xs:appinfo>
			<NmPL>Raportowanie zmian danych kontrahenta</NmPL>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="KDPWDocument" type="KDPWDocument">
		<xs:annotation>
			<xs:documentation>Komunikat systemu KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Komunikat systemu KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="Code4Text">
		<xs:annotation>
			<xs:documentation>Kwalifikator, kod</xs:documentation>
			<xs:appinfo>
				<NmPL>Kwalifikator</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CounterpartyAddressAndSectorDetails">
		<xs:annotation>
			<xs:documentation>Szczegółowe informacje adresowo-branżowe o kontrahencie</xs:documentation>
			<xs:appinfo>
				<NmPL>Szczegółowe informacje adresowo-branżowe o kontrahencie</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nm" type="Max100Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nazwa kontrahenta</xs:documentation>
					<xs:appinfo>
						<NmPL>Nazwa kontrahenta</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dmcl" type="Domicile" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Siedziba kontrahenta </xs:documentation>
					<xs:appinfo>
						<NmPL>Siedziba kontrahenta </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorpSctr" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Branża, do której należy kontrahent </xs:documentation>
					<xs:appinfo>
						<NmPL>Branża, do której należy kontrahent </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:annotation>
			<xs:documentation>Kod kraju</xs:documentation>
			<xs:appinfo>
				<NmPL>Kod kraju</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:annotation>
			<xs:documentation>Data i czas</xs:documentation>
			<xs:appinfo>
				<NmPL>Data i czas</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Dt" type="ISODate">
					<xs:annotation>
						<xs:documentation>Data</xs:documentation>
						<xs:appinfo>
							<NmPL>Data</NmPL>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="DtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>Data i czas</xs:documentation>
						<xs:appinfo>
							<NmPL>Data i czas</NmPL>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Domicile">
		<xs:annotation>
			<xs:documentation>Siedziba kontrahenta</xs:documentation>
			<xs:appinfo>
				<NmPL>Siedziba kontrahenta</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kraj rezydencji</xs:documentation>
					<xs:appinfo>
						<NmPL>Kraj rezydencji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCd" type="Max40Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod pocztowy</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod pocztowy</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TwnNm" type="Max60Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Miasto</xs:documentation>
					<xs:appinfo>
						<NmPL>Miasto</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrtNm" type="Max150Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ulica</xs:documentation>
					<xs:appinfo>
						<NmPL>Ulica</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BldgId" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numer budynku</xs:documentation>
					<xs:appinfo>
						<NmPL>Numer budynku</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrmsId" type="Max20Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numer lokalu</xs:documentation>
					<xs:appinfo>
						<NmPL>Numer lokalu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DmclDtls" type="Max208Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pozostałe dane kontaktowe</xs:documentation>
					<xs:appinfo>
						<NmPL>Pozostałe dane kontaktowe</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FunctionOfMessage">
		<xs:annotation>
			<xs:documentation>Funkcja komunikatu</xs:documentation>
			<xs:appinfo>
				<NmPL>Funkcja komunikatu</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NEWM">
				<xs:annotation>
					<xs:documentation>Nowy komunikat</xs:documentation>
					<xs:appinfo>
						<NmPL>Nowy komunikat</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GeneralInformation">
		<xs:annotation>
			<xs:documentation>Informacje ogólne</xs:documentation>
			<xs:appinfo>
				<NmPL>Informacje ogólne</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TRRprtId" type="TRInstitutionCode">
				<xs:annotation>
					<xs:documentation>Wewnętrzny identyfikator RT podmiotu raportującego budowany na Primary ID i Secondary ID.</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator RT wystawcy komunikatu </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SndrMsgRef" type="Max16Text">
				<xs:annotation>
					<xs:documentation>Identyfikator komunikatu utworzony przez nadawcę</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FuncOfMsg" type="FunctionOfMessage">
				<xs:annotation>
					<xs:documentation>Funkcja komunikatu</xs:documentation>
					<xs:appinfo>
						<NmPL>Funkcja komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActnTp" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Rodzaj zmiany. Dopuszczalna wartość: M. </xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj zmiany</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActnTpDtls" type="Max50Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegółowe informacje dotyczące zmiany.</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegółowe informacje dotyczące zmiany</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="DateAndDateTimeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data utworzenia komunikatu</xs:documentation>
					<xs:appinfo>
						<NmPL>Data utworzenia komunikatu</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EligDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>Data obowiązywania zgłoszenia</xs:documentation>
					<xs:appinfo>
						<NmPL>Data obowiązywania zgłoszenia</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtlLvl" type="Max1Text">
				<xs:annotation>
					<xs:documentation>Flaga identyfikująca rodzaj odpowiedzi ( S  - oznacza odpowiedź zbiorczą bez szczegółów, D -  oznacza odpowiedź ze szczegółami dokonanych zapisów) </xs:documentation>
					<xs:appinfo>
						<NmPL>Poziom szczegółowości odpowiedzi</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstitutionCode">
		<xs:annotation>
			<xs:documentation>Identyfikator instytucji</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator instytucji</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max50Text">
				<xs:annotation>
					<xs:documentation>Identyfikator instytucji:identyfikator podmiotu prawnego (LEI) (20 A);
						tymczasowy identyfikator podmiotu (20 A);
						kod identyfikacyjny jednostki (BIC) (11A); 
						kod klienta (50A).
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator instytucji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="Code4Text">
				<xs:annotation>
					<xs:documentation>Dopuszczalne wartości:
						- LEIC	identyfikator podmiotu prawnego;
						- PLEI	tymczasowy identyfikator podmiotu;
						- BICC kod identyfikacyjny jednostki (BIC);
						- OTHR kod klienta (50A).
					</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj użytego identyfikatora</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation>Data</xs:documentation>
			<xs:appinfo>
				<NmPL>Data</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation>Data i czas</xs:documentation>
			<xs:appinfo>
				<NmPL>Data i czas</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="KDPWDocument">
		<xs:annotation>
			<xs:documentation>Komunikat systemu KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Komunikat systemu KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trar.ins.005.02" type="trar.ins.005.02" maxOccurs="10000">
				<xs:annotation>
					<xs:documentation>Raportowanie zmian danych kontrahenta</xs:documentation>
					<xs:appinfo>
						<NmPL>Raportowanie zmian danych kontrahenta</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Sndr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Nadawca w postaci kodu KDPW</xs:documentation>
				<xs:appinfo>
					<NmPL>Nadawca</NmPL>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Rcvr" type="KDPWMemberIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Odbiorca w postaci kodu KDPW</xs:documentation>
				<xs:appinfo>
					<NmPL>Odbiorca</NmPL>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="KDPWMemberIdentifier">
		<xs:annotation>
			<xs:documentation>Identyfikator uczestnika KDPW</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator uczestnika KDPW</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1Text">
		<xs:annotation>
			<xs:documentation>Tekst o długości 1 znaku</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 4 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 16 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 20 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max40Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 20 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max50Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 50 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 60 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max100Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 100 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 150 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max208Text">
		<xs:annotation>
			<xs:documentation>Tekst o maksymalnej długości 208 znaków</xs:documentation>
			<xs:appinfo>
				<NmPL>Tekst</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="208"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TRInstitutionCode">
		<xs:annotation>
			<xs:documentation>Identyfikator instytucji RT</xs:documentation>
			<xs:appinfo>
				<NmPL>Identyfikator instytucji RT</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Max20Text">
				<xs:annotation>
					<xs:documentation>Identyfikator instytucji</xs:documentation>
					<xs:appinfo>
						<NmPL>Identyfikator instytucji</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="Code4Text">
				<xs:annotation>
					<xs:documentation>Rodzaj użytego identyfikatora</xs:documentation>
					<xs:appinfo>
						<NmPL>Rodzaj użytego identyfikatora</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trar.ins.005.02">
		<xs:annotation>
			<xs:documentation>Raportowanie zmian danych kontrahenta</xs:documentation>
			<xs:appinfo>
				<NmPL>Raportowanie zmian danych kontrahenta</NmPL>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GnlInf" type="GeneralInformation">
				<xs:annotation>
					<xs:documentation>Blok informacji ogólnych</xs:documentation>
					<xs:appinfo>
						<NmPL>Informacje ogólne</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtyTRId" type="TRInstitutionCode">
				<xs:annotation>
					<xs:documentation>Wewnętrzny identyfikator RT podmiotu raportującego budowany na Primary ID i Secondary ID.</xs:documentation>
					<xs:appinfo>
						<NmPL>Kod identyfikacyjny kontrahenta RT</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrPtyAdrAndSctr" type="CounterpartyAddressAndSectorDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Szczegółowe informacje adresowo-branżowe o kontrahencie</xs:documentation>
					<xs:appinfo>
						<NmPL>Szczegółowe informacje adresowo-branżowe o kontrahencie</NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinNonFinInd" type="Max1Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kontrahent finansowy / niefinansowy </xs:documentation>
					<xs:appinfo>
						<NmPL>Kontrahent finansowy / niefinansowy </NmPL>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
